In [1]:

import pandas as pd
import numpy as np
import math


df = pd.read_csv('data.csv')

df["pole_angle(degrees)"] = df.pole_angle * 180/math.pi
df = df[['t', 'a', 'cart_position', 'cart_velocity', 'pole_angle', 'pole_angle(degrees)', 'angular_velocity']]
df.head()

,t,a,cart_position,cart_velocity,pole_angle,pole_angle(degrees),angular_velocity
0,0,0,0.049764,0.035479,-0.028231,-1.617538,0.048015
1,1,0,0.050473,-0.154999,-0.027271,-1.562517,0.238604
2,2,0,0.047373,-0.345488,-0.022499,-1.289097,0.429409
3,3,0,0.040464,-0.536029,-0.013911,-0.797031,0.621270
4,4,1,0.029743,-0.726658,-0.001485,-0.085108,0.815011

In [2]:
df.describe().loc[['min', 'max', 'std', 'mean']]

,t,a,cart_position,cart_velocity,pole_angle,pole_angle(degrees),angular_velocity
min,0.0000,0.000000,-2.393178,-1.631603,-0.138706,-7.947268,-1.179154
max,285.0000,1.000000,0.621268,0.787421,0.062357,3.572786,0.815011
std,82.7053,0.500570,0.943957,0.643122,0.048111,2.756585,0.278186
mean,142.5000,0.482517,-0.396920,-0.432761,-0.021297,-1.220211,-0.015376

In [3]:
def discretize(val, step=5, size=20, scale=.001):
    limits = [ round(i*scale, 5) for i in range(-((size-2)//2)*step, ((size+1)//2)*step, step)]
    ids = [i for i,v in enumerate(limits) if val<v]
    return size-1 if len(ids) == 0 else ids[0]

# Cart Velocity

In [4]:
df['cart_velocity(diff)'] = np.append(df.cart_velocity[:-1].values - df.cart_velocity[1:].values, [0])
df[['cart_velocity(diff)']].describe().loc[['min', 'max', 'mean', 'std']]

      cart_velocity(diff)
min             -0.191727
max              0.191236
mean             0.005798
std              0.190542

In [5]:
df[['cart_velocity(diff)']][df['cart_velocity(diff)']<0].describe().loc[['min', 'max', 'mean', 'std']]

      cart_velocity(diff)
min             -0.191727
max             -0.190112
mean            -0.190839
std              0.000407

In [6]:
df[['cart_velocity(diff)']][df['cart_velocity(diff)']>0].describe().loc[['min', 'max', 'mean', 'std']]

      cart_velocity(diff)
min              0.189207
max              0.191236
mean             0.190434
std              0.000508

In [7]:
df[['cart_velocity(diff)', 'a']].head(10)

   cart_velocity(diff)  a
0             0.190478  0
1             0.190489  0
2             0.190541  0
3             0.190629  0
4            -0.190773  1
5            -0.190620  1
6            -0.190493  1
7            -0.190402  1
8             0.191127  0
9             0.191132  0

In [8]:
vel_test = [-20.0] + [n/10 for n in range(-17, 19, 2)] + [10.0]
vel_vali = [0] + [i for i in range(1,19)] + [19]

values =  [discretize(t, 2, 20, 0.1) for t,v in zip(vel_test, vel_vali)]

print(values)
all([d == v for d, v in zip(values, vel_vali)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

True

# Pole Angle

In [9]:
df['pole_angle(diff)'] = np.append(df.pole_angle[:-1].values - df.pole_angle[1:].values, [0])
df['pole_angle(deg_diff)'] = np.append(df['pole_angle(degrees)'][:-1].values - df['pole_angle(degrees)'][1:].values, [0])
df[['pole_angle(diff)', 'pole_angle(deg_diff)']].describe().loc[['min', 'max', 'mean', 'std']]

      pole_angle(diff)  pole_angle(deg_diff)
min          -0.016300             -0.933934
max           0.023583              1.351211
mean          0.000345              0.019738
std           0.005526              0.316626

In [10]:
df[['pole_angle(diff)', 'pole_angle(deg_diff)']][df['pole_angle(deg_diff)']< 0].describe().loc[['min', 'max', 'mean', 'std']]

      pole_angle(diff)  pole_angle(deg_diff)
min          -0.016300             -0.933934
max          -0.000044             -0.002524
mean         -0.003887             -0.222703
std           0.003091              0.177075

In [11]:
df[['pole_angle(diff)', 'pole_angle(deg_diff)']][df['pole_angle(deg_diff)']>0].describe().loc[['min', 'max', 'mean', 'std']]

      pole_angle(diff)  pole_angle(deg_diff)
min           0.000053              0.003010
max           0.023583              1.351211
mean          0.004549              0.260622
std           0.004013              0.229915

In [12]:
df[['pole_angle(diff)', 'pole_angle(deg_diff)', 'a']].head(10)

   pole_angle(diff)  pole_angle(deg_diff)  a
0         -0.000960             -0.055021  0
1         -0.004772             -0.273420  0
2         -0.008588             -0.492066  0
3         -0.012425             -0.711923  0
4         -0.016300             -0.933934  1
5         -0.012360             -0.708149  1
6         -0.008489             -0.486363  1
7         -0.004672             -0.267689  1
8         -0.000893             -0.051190  0
9         -0.004993             -0.286063  0

In [28]:
vel_test = [-.1] + [n/10000 for n in range(-400, 450, 45)] + [.1]
vel_vali = [0] + [i for i in range(1,19)] + [19]

values =  [discretize(t, 45, 20, 0.0001) for t,v in zip(vel_test, vel_vali)]

print(vel_test)
print(vel_vali)
print(values)
all([d == v for d, v in zip(values, vel_vali)])

[-0.1, -0.04, -0.0355, -0.031, -0.0265, -0.022, -0.0175, -0.013, -0.0085, -0.004, 0.0005, 0.005, 0.0095, 0.014, 0.0185, 0.023, 0.0275, 0.032, 0.0365, 0.041, 0.1]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

True

# Angular Velocity

In [16]:
df['angular_velocity(diff)'] = np.append(df.angular_velocity[:-1].values - df.angular_velocity[1:].values, [0])
df[['angular_velocity(diff)']].describe().loc[['min', 'max', 'mean', 'std']]

      angular_velocity(diff)
min                -0.207739
max                 0.219687
mean               -0.001681
std                 0.194400

In [17]:
df[['angular_velocity(diff)']][df['angular_velocity(diff)'] < 0].describe().loc[['min', 'max', 'mean', 'std']]

      angular_velocity(diff)
min                -0.207739
max                -0.164123
mean               -0.189788
std                 0.010928

In [18]:
df[['angular_velocity(diff)']][df['angular_velocity(diff)'] > 0].describe().loc[['min', 'max', 'mean', 'std']]

      angular_velocity(diff)
min                 0.182810
max                 0.219687
mean                0.198682
std                 0.009199

In [19]:
df[['angular_velocity(diff)', 'a']].head(10)

   angular_velocity(diff)  a
0               -0.190590  0
1               -0.190804  0
2               -0.191862  0
3               -0.193741  0
4                0.197035  1
5                0.193545  1
6                0.190829  1
7                0.188931  1
8               -0.204965  0
9               -0.205138  0

In [31]:
vel_test = [-.3] + [n/100 for n in range(-19, 20, 20)] + [.3]
vel_vali = [0] + [i for i in range(1,19)] + [19]

values =  [discretize(t, 192, 4, 0.001) for t,v in zip(vel_test, vel_vali)]

# print(vel_test)
# print(vel_vali)
print(values)
all([d == v for d, v in zip(values, vel_vali)])

[0, 1, 2, 3]

True